* {
	box-sizing: border-box;
}

html {
	font-family: "Open Sans",
		sans-serif;
}

body {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	background-color: #333333;

}

a {
	text-decoration: none;
}

.container {
	max-width: 1120px;
	margin: 0 auto;
}

/* === FIXED PANEL ===*/

.fixed-panel {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 150px;
	display: flex;
	z-index: 1000;
	flex-direction: column;
	justify-content: flex-end;
	background: rgba(51, 51, 51, 0.75);
	padding-bottom: 50px;
	overflow: hidden;
}

.fixed-panel__text {

	position: absolute;
	width: 300px;
	bottom: 520px;
	left: 50%;
	transform: translateX(-50%) rotate(-90deg);
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #C4C4C4;
}

.social {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.social::before {
	content: "";
	width: 3px;
	height: 80px;
	background-color: #C4C4C4;
	margin-bottom: 30px;
}

.social__link {

	width: 26px;
	height: 26px;
}

.social__link:not(:last-child) {
	margin-bottom: 30px;
}

.social__icon {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}


.header {
	background-image: url("../img/header_bg.png");
	background-size: cover;
	height: 1045px;
}

.header__top-line-inner {
	padding-top: 51px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.header__phone {
	font-weight: 700;
	font-size: 16px;
	text-align: right;
	text-transform: uppercase;
	color: #FFFFFF;
	border-bottom: 2px solid #D1A954;
	padding-bottom: 5px;
	transition: all 0.5s;
}

.header__phone:hover {
	border-bottom: 2px solid #d1a954;
}

.menu__list {
	display: flex;
	margin: 0;
	padding: 0;
}

.menu__list-item {
	text-transform: uppercase;
	font-size: 18px;
	margin-right: 60px;
	list-style: none;

}

.menu__list-link {
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	transition: all 0.5s;
}

.menu__list-link:hover {
	border-bottom: 2px solid #d1a954;
}

.inrto__inner {
	height: 960px;
	display: flex;
	align-items: center;
}

.intro__left {
	max-width: 540px;
}

.intro__title {
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 87px;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-bottom: 30px;
}

.intro__text {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: #fff;
	padding-bottom: 40px;
}

.intro__button {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #D1A954;
	padding: 15px 47px;
	cursor: pointer;
	transition: background 0.3s linear;
}

.main-slider .slick-arrow {
	position: absolute;
	top: 50%;
	z-index: 10;
	width: 30px;
	height: 60px;
}

.main-slider .slick-arrow.slick-prev {
	left: 0;
	top: 505px;
	background: url('img/sliders/prev.svg') 0 0 / 100% no-repeat;
}

.main-slider .slick-arrow.slick-next {
	right: 0;
	top: 505px;

	background: url('img/sliders/next.svg') 0 0 / 100% no-repeat;
}


/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}

/* Лента слайдов */
.slick-track {
	display: flex;
	align-items: flex-start;
}


.main-slider {
	overflow: hidden;
	margin-left: 150px;
}


.main-slider__item {
	width: 100%;
	height: 510px;
	padding-right: 20px;
}

.main-slider__img {
	position: relative;
	width: 350px;
	height: 490px;
	object-fit: cover;
	object-position: center;
}

.main-slider__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	display: block;
}

.main-slider__img-primary {
	position: relative;
	z-index: 5;
	width: 100%;
	height: auto;
}

.main-slider__img-secondary {
	position: absolute;
	z-index: 1;
	top: 20px;
	left: 20px;
	width: 100%;
	height: auto;
}

.main-slider__img::before {
	content: "";
	position: absolute;
	z-index: 2;
	top: 20px;
	left: 20px;
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, rgba(209, 169, 84, 0.85), rgba(209, 169, 84, 0.85));
}

/* === ABOUT ===*/

.about__inner {
	padding: 150px 0;
}

.about__title {
	font-style: normal;
	font-weight: 300;
	font-size: 48px;
	line-height: 65px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	margin: 0;
	padding-bottom: 100px;
}

.about__title-span {
	color: #D1A954;
}

.about__title-colm {
	font-weight: 700;
	font-size: 21px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #fff;
	padding-bottom: 40px;
	margin: 0;
}

.about__text {
	font-size: 14px;
	line-height: 21px;
	max-width: 445px;
	color: #fff;
}

.about__row {
	display: flex;
	justify-content: space-between;
}

.about__icon {
	width: 80px;
	height: 80px;
}

.about__description {
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 0.05em;
	color: #fff;
	padding-bottom: 25px;
}

.subtitle {
	color: #D1A954;
}

.about__theatre-info-img {
	padding-bottom: 15px;
}

/* ==== PROJECTS  ====*/
.projects {
	padding-bottom: 150px;
}

.projects__title {
	font-style: normal;
	font-weight: 300;
	font-size: 48px;
	line-height: 65px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	padding-bottom: 100px;
	color: #fff;
}

.projects__title-span {
	color: #D1A954;
}

.projects-slider,
.slick-initialized {
	overflow: hidden;
	cursor: pointer;
}

.projects-slider__item {
	flex: 0 0 442px;
	height: 550px;
	position: relative;
}

.projects-slider__item::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(51, 51, 51, 0.65);
	transition: all 0.4s linear;
}

.projects-slider__item:hover .projects-slider__date {
	opacity: 0;
}

.projects-slider__item:hover .projects-slider__title {
	opacity: 0;
}

.projects-slider__item:hover .projects-slider__btn {
	opacity: 1;
}

.projects-slider__item:hover::before {
	opacity: 0;
}

.projects-slider__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.projects-slider__date {
	position: absolute;
	left: 40px;
	bottom: 40px;
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
	transition: all 0.4s linear;
	transform-origin: top left;
	transform: rotate(-90deg);
}

.projects-slider__title {
	position: absolute;
	top: 40px;
	left: 40px;
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #FFFFFF;
	transition: all 0.4s linear;
}

.projects-slider__btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	background: #D1A954;
	border-radius: 50%;
	padding: 35px;
	transition: all 0.4s linear;
}

.projects-slider__btn:hover {
	background: #ab832e;
}

/* === RAITING ====*/

.rating__inner {
	padding-top: 150px 0;
}

.rating__box {
	height: 550px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-image: url('../img/theater_bg.png');
}

.rating__box-left-column {
	padding-right: 105px;
}

.rating__box-year {
	color: #D1A954;
	font-size: 72px;
}

.rating__box-stars {
	display: flex;
	padding-bottom: 25px;
}

.rating__box-star {
	padding-right: 25px;
}

.rating__box-descriprion {
	font-weight: 700;
	font-size: 36px;
	line-height: 54px;
	max-width: 375px;
	color: #fff;
}


/* === PARTNERS ===*/

.partners {
	padding-top: 150px;
}

.partners__title {
	font-style: normal;
	font-weight: 300;
	font-size: 48px;
	line-height: 65px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	margin-bottom: 100px;
}

.partners__items {
	display: flex;
	flex-wrap: wrap;
}

.partners__item {
	padding: 38px;
}

/* === CONTACTS ===*/


.contacts__inner {
	padding-top: 150px;
	padding-bottom: 80px;
}

.contacts__title {
	padding-bottom: 100px;
	margin: 0;
	font-style: normal;
	font-weight: 300;
	font-size: 48px;
	line-height: 65px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
}

.form-contacts__form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.contacts__box {
	display: flex;
}

.contacts__info {
	display: flex;
	flex-direction: column;
	padding-right: 105px;
	font-size: 16px;
	font-family: "Open Sans Condensed";
	font-weight: 700;

}


.contacts__phone {
	padding-bottom: 25px;
	display: block;
	color: #fff;
}

.contacts__email a {
	padding-bottom: 25px;
	display: block;
	color: #fff;
}


.contacts-adress {
	padding-bottom: 25px;
	text-align: left;
	white-space: nowrap;
	text-transform: uppercase;
	color: #fff;

}

.form__inputs {
	max-width: 413px;
	display: inline-block;
	font-family: "Open Sans";
	font-weight: 400;
}

.form__input-item {
	background: #444444;
	padding: 8px 15px;
	border: 1px solid #616161;
	margin-right: 30px;
	margin-bottom: 30px;
	font-size: 12px;
	color: white;
	font-family: "Open Sans";
	font-weight: 400;

}

.contacts__form-textarea {
	display: inline-block;
	background: #444444;
	border: 1px solid #616161;
	width: 310px;
	height: 86px;
	font-size: 12px;
	color: white;
	padding-top: 8px;
	padding-left: 15px;
	font-family: "Open Sans";
	font-weight: 400;
}

.contacts__last-line {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.contacts__form-descriprion {
	max-width: 390px;
	font-size: 12px;
	color: #989898;
	font-family: "Open Sans";
	font-weight: 400;
}

.form__contacts-btn {
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	padding: 17px 47px;
	background: #D1A954;
	border: 1px solid #E0E0E0;
	transition: all 0.5s;
	cursor: pointer;
}


/* === FOOTER ===*/

.footer__inner {
	border-top: 1px solid #565656;
	padding: 30px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__left-text,
.footer__right-text {
	color: #989898;
	font-size: 12px;
}


@media (max-width: 1200px) {
	.container {
		width: 770px;
	}

	.header__top-line-inner {
		flex-direction: column;
		align-items: center;
		padding-top: 50px;
	}

	.header__phone {
		padding-top: 50px;
		margin-left: -115px;
	}

	.menu__list-item {
		margin-right: 30px;
	}

	.about__info-img-theatre {
		display: none;
	}

	.rating>.container {
		width: 100%;
	}

	.contacts__box {
		flex-direction: column-reverse;
	}

	.contacts__form-textarea {
		width: 260px;
	}

	.contacts__info {
		padding-right: 0;
		padding-top: 80px;
		flex-direction: row;
		justify-content: space-between;
	}

	.contacts-adresses {
		text-align: right;
	}
}

@media (max-width: 1100px) {
	.container {
		width: 770px;
	}

	.main-slider {
		display: none;
	}

	.inrto__inner {
		justify-content: center;
	}

	.header__top-line-inner {
		flex-direction: column;
		align-items: center;
		padding-top: 50px;
	}

	.menu__list-item {
		margin-right: 30px;
	}

	.about__info-img-theatre {
		display: none;
	}

	.about__inner {
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	.rating>.container {
		width: 100%;
	}

	.contacts__box {
		flex-direction: column-reverse;
	}

	.contacts__form-textarea {
		width: 260px;
	}

	.contacts__info {
		padding-right: 0;
		padding-top: 80px;
		flex-direction: row;
		justify-content: space-between;
	}

	.contacts-adresses {
		text-align: right;
	}
}

@media (max-width: 1070px) {
	.container {
		width: 770px;
	}

	.header__top-line-inner {
		margin-right: -160px;
	}
}

@media (max-width: 1024px) {
	.container {
		width: 700px;
	}
}

@media (max-width: 991px) {
	.header {
		height: 800px;
	}

	.inrto__inner {
		height: 665px;
		justify-content: center;
	}

	.container {
		width: 700px;
	}

	.header__top-line-inner {
		flex-direction: row;
		margin: 0;
	}

	.fixed-panel {
		display: none;
	}

	.main-slider {
		display: none;
	}

	.menu-burger__header {
		position: relative;
		width: 40px;
		height: 35px;
		display: block;
		margin-left: 10px;
	}

	.menu-burger__header span,
	.menu-burger__header:after,
	.menu-burger__header:before {
		height: 3px;
		width: 100%;
		position: absolute;
		background: white;
		margin: 0 auto;
	}

	.menu-burger__header span {
		top: 16px;
	}

	.menu-burger__header:after,
	.menu-burger__header:before {
		content: "";
	}

	.menu-burger__header:after {
		bottom: 6px;
	}

	.menu-burger__header:before {
		top: 7px;
	}

	.menu-burger__header.open-menu span {
		opacity: 0;
		transition: 0.5s;
	}

	.menu-burger__header.open-menu:before {
		transform: rotate(38deg);
		top: 16px;
		transition: 0.4s;
	}

	.menu-burger__header.open-menu:after {
		transform: rotate(-38deg);
		bottom: 16px;
		transition: 0.4s;
	}

	.header__menu {
		display: block;
	}

	.menu__list {
		flex-direction: column;
		padding-top: 78px;
	}

	.menu__list-item {
		margin: 35px 0px 35px 40px;
		font-size: 24px;
	}

	.menu {
		display: block;
		position: absolute;
		top: 0px;
		left: 0;
		background-color: #333333;
		box-shadow: #ccc;
		width: 300px;
		height: 100%;
		box-shadow: 0 5px 6px rgba(36, 36, 36, 0.37);
		left: -100%;
		transition: all 0.4s ease;
	}

	.about__info-img-theatre {
		display: none;
	}

	.menu__item-button:hover {
		background-color: #0f0f0f;
	}

	.projects-slider,
	.slick-initialized {
		cursor: pointer;
		max-width: 690px;
		margin-left: 150px;
	}

	.column {
		margin-left: 30px;

	}

	.rating>.container {
		width: 100%;
	}

	.contacts__box {
		flex-direction: column-reverse;
	}

	.contacts__form-textarea {
		width: 260px;
	}

	.contacts__info {
		padding-right: 0;
		padding-top: 80px;
		flex-direction: row;
		justify-content: space-between;
	}

	.contacts-adresses {
		text-align: right;
	}
}