* {
	box-sizing: border-box;
}

html {
	font-family: "Open Sans",
		sans-serif;
}

body {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	background-color: #333333;

}

a {
	text-decoration: none;
}

.container {
	max-width: 1100px;
	margin: 0 150px;
	padding: 0 10px;
	width: 100%;
}

.title {
	font-family: "Open Sans Condensed", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 48px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #fff;
	margin: 0;
	/* padding-top: 100px; */
	padding-bottom: 100px;
}

.title__span {
	color: #D1A954;
}

.button {
	background: #d1a954;
	font-family: "Open Sans Condensed";
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #fff;
	border: 1px solid #E0E0E0;
	transition: background 0.3s linear;
	cursor: pointer;
}

/* === FIXED PANEL ===*/

.fixed-panel {
	position: fixed;
	min-height: 100vh;
	width: 150px;
	display: flex;
	z-index: 1000;
	justify-content: center;
	align-items: flex-end;
	background: rgba(51, 51, 51, 0.75);
	padding-bottom: 25px;
	overflow: hidden;
}

.fixed-panel__text {

	position: absolute;
	width: 300px;
	bottom: 500px;
	left: 50%;
	transform: translateX(-50%) rotate(-90deg);
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #C4C4C4;
}

.social {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.social::before {
	content: "";
	width: 3px;
	height: 80px;
	background-color: #C4C4C4;
	margin-bottom: 30px;
}

.social__link {

	width: 26px;
	height: 26px;
}

.social__icon {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}

.social-nav {
	display: none;
}

svg {
	transition: all 0.3s linear;
}

svg:hover {
	filter: invert(67%) sepia(16%) saturate(1120%) hue-rotate(3deg) brightness(96%) contrast(104%);
}

.header__top-line,
.about,
.partners,
.contacts,
.footer {
	display: flex;
	justify-content: center;
}

.header {
	background-image: url("../img/header_bg.png");
	background-size: cover;
	height: 1045px;
}

.header__top-line-inner {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.header__phone {
	font-weight: 700;
	font-size: 16px;
	text-align: right;
	text-transform: uppercase;
	color: #FFFFFF;
	border-bottom: 2px solid #D1A954;
	padding-bottom: 5px;
	transition: all 0.5s;
}

.header__phone:hover {
	border-bottom: 2px solid #d1a954;
}

.menu__list {
	display: flex;
	margin: 0;
	padding: 0;
}

.menu__list-item {
	text-transform: uppercase;
	font-size: 18px;
	margin-right: 60px;
	list-style: none;

}

.menu__list-link {
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	transition: all 0.5s;
}

.menu__list-link:hover {
	border-bottom: 2px solid #d1a954;
}

.inrto__inner {
	height: 960px;
	display: flex;
	align-items: center;
}

.intro__left {
	max-width: 540px;
}

.intro__title {
	font-family: "Open Sans Condensed", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 87px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #fff;
	padding-bottom: 30px;
	margin: 0;
}

.intro__text {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: #fff;
	padding-bottom: 40px;
}


.header__btn {
	width: 150px;
	height: 50px;
}

.head-cont {
	margin: 0 200px;
}

.main-slider {
	overflow: hidden;
	margin-left: 150px;
}

.main-slider__inner {
	margin-bottom: 55px;
	width: 370px;
	height: 510px;
	display: flex;
	align-items: center;
}

.main-slider__item {
	width: 100%;
	height: 510px;
	padding-right: 20px;
}

.main-slider__img {
	position: relative;
	width: 350px;
	height: 490px;
	object-fit: cover;
	object-position: center;
}

.main-slider__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	display: block;
}

.main-slider__img-primary {
	position: relative;
	z-index: 5;
	width: 100%;
	height: auto;
}

.main-slider__img-secondary {
	position: absolute;
	z-index: 1;
	top: 20px;
	left: 20px;
	width: 100%;
	height: auto;
}

.main-slider__img::before {
	content: "";
	position: absolute;
	z-index: 2;
	top: 20px;
	left: 20px;
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, rgba(209, 169, 84, 0.85), rgba(209, 169, 84, 0.85));
}

.main-slider__control {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-slider__prev,
.main-slider__next {
	display: flex;
	align-items: center;
	background-color: transparent;
	border: none;
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #fff;
}

.main-slider__prev:hover,
.main-slider__next:hover {
	color: #fff;
}

.main-slider__prev span {
	display: inline-block;
	height: 15px;
	width: 40px;
	margin-right: 25px;
	background-image: url("../img/icons/prev.svg");
}

.main-slider__next span {
	display: inline-block;
	height: 15px;
	width: 40px;
	margin-left: 25px;
	background-image: url("../img/icons/next.svg");
}


/* === ABOUT ===*/

.about {
	padding-top: 90px;
}

.about__inner {
	display: flex;
	justify-content: center;
	padding-bottom: 150px;
}

.about-theater {
	max-width: 445px;
}

.about__title-colm {
	font-family: "Open Sans Condensed", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 21px;
	line-height: 29px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #fff;
	padding-bottom: 40px;
	margin: 0;
}

.about__text {
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	color: #fff;
}

.about-theater-digits {
	max-width: 255px;
	margin: 0 60px 0 30px;
}

.about-theater-title {
	font-family: "Open Sans Condensed", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 21px;
	line-height: 29px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #fff;
	padding-bottom: 40px;
	margin: 0;
}


.about__description {
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 0.05em;
	color: #fff;
	padding-bottom: 25px;
}

.subtitle {
	color: #D1A954;
}

.about__img {
	width: 350px;
}

/* ==== PROJECTS  ====*/
.projects {
	padding-bottom: 100px;
}

.projects__item {
	display: flex;
	overflow: hidden;
	cursor: pointer;
}

.projects__slider {
	padding-left: 150px;
}


.project__items {
	position: relative;
	flex: 1;
	display: flex;
	align-items: center;
	overflow: hidden;
	width: 25%;
}

.projects-slider__img {
	width: 100%;
	height: auto;
}

/* .project__items:first-child {
	margin-left: 150px;
} */

.project-search-icon,
.project-title,
.project-date {
	position: absolute;
}

.project-title {
	top: 40px;
	left: 40px;
}

.project-date {
	bottom: 40px;
	left: 40px;
	transform: rotate(-90deg);
	transform-origin: 10px center;
}

.project-blackout {
	opacity: 0.3;
}

.project-blackout:hover {
	opacity: 1;
}

.project__items:hover .project-title,
.project__items:hover .project-date {
	display: none;
}

.project__items:hover .project-blackout .project-search-icon {
	z-index: 0;
}

.project-search-icon {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #d1a954;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	z-index: -1;
}

.project-search-icon img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30px !important;
	height: 30px;
}


.project-title {
	font-family: "Open Sans Condensed", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #ffffff;
}

.project-date {
	font-family: "Open Sans Condensed", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #ffffff;
}


/* .projects-slider,
.slick-initialized {
	overflow: hidden;
	cursor: pointer;
	margin-left: 200px;
}


/* === RAITING ====*/

.rating__container {
	max-width: 1170px;
	padding: 0 30px;
	margin: 0 auto;

}

.rating__box {
	padding: 126px 103px 126px 190px;
	background: url('../img/theater_bg.png') center center/cover no-repeat;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.rating__box-left-column {
	font-family: "Open Sans Condensed",
		sans-serif;
	font-weight: 700;
	font-size: 72px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #D1A954;
}

.rating__box-year:not(:last-child) {
	margin-bottom: 15px;
}

.rating__box-right-column {
	flex: 0 0 540px;
}

.rating__box-stars {
	display: flex;
	align-items: center;
	padding-bottom: 25px;
}

.rating__box-star {
	padding-right: 25px;
}

.rating__box-descriprion {
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 54px;
	max-width: 456px;
	color: #fff;
}


/* === PARTNERS ===*/

.partners {
	padding-top: 100px;
}

.partners__slider-items {
	display: flex;
	padding-bottom: 45px;
}

.part-title {
	padding-bottom: 55px;
}

.partners__item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.slick-initialized .slick-slide {
	display: flex;
}

/* === CONTACTS ===*/


.contacts__inner {
	display: flex;
}

.contacts__info {
	display: flex;
	flex-direction: column;
	padding-right: 105px;
	font-size: 16px;
	font-family: "Open Sans Condensed";
	font-weight: 700;
}

.contacts__phone {
	padding-bottom: 25px;
	display: block;
	color: #fff;
}

.contacts__email a {
	padding-bottom: 25px;
	display: block;
	color: #fff;
}


.contacts-address {
	padding-bottom: 25px;
	white-space: nowrap;
	text-transform: uppercase;
	color: #fff;

}

.form-contacts__form {
	display: flex;
	flex-wrap: wrap;
}

.form__inputs {
	width: calc(100% - 310px);
	font-family: "Open Sans";
	font-weight: 400;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	padding-right: 30px;
}

.form__input-item {
	background: #444444;
	padding: 8px 15px;
	border: 1px solid #616161;
	font-size: 12px;
	color: white;
	font-family: "Open Sans";
	font-weight: 400;
	width: calc(50% - 15px);
	gap: 30px;

}

.contacts__form-textarea {
	display: block;
	background: #444444;
	border: 1px solid #616161;
	width: 310px;
	font-size: 12px;
	color: white;
	padding-top: 8px;
	padding-left: 15px;
	font-family: "Open Sans";
	font-weight: 400;
}

.contacts__last-line {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-top: 25px;
}

.contacts__form-descriprion {
	max-width: 390px;
	font-size: 12px;
	color: #989898;
	font-family: "Open Sans";
	font-weight: 400;
}

.form__btn {
	width: 190px;
	height: 50px;
}


/* === FOOTER ===*/

.footer {
	width: 100%;
}

.footer__inner {
	border-top: 1px solid #565656;
	padding: 30px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__left-text,
.footer__right-text {
	color: #989898;
	font-size: 12px;
}

@media (max-width: 1450px) {

	.header__phone {
		padding-top: 50px;
		margin-left: -115px;
	}

	.menu__list-item {
		margin-right: 30px;
	}

	.rating__box-descriprion {
		font-size: 34px;
	}


	/* .rating__container {
		max-width: 992px;
		padding: 0;
		margin: 0 auto;
	} */

	.rating__box-right-column {
		flex: 0 0 450px;
	}
}


@media (max-width: 1300px) {

	.about,
	.projects,
	.partners,
	.contacts {
		display: block;
	}

	.header__top-line {
		display: block;
	}

	.header__top-line-inner {
		flex-direction: column;
		align-items: center;
		padding-top: 50px;
	}
}

@media (max-width: 1250px) {

	.header__top-line,
	.about,
	.projects,
	.partners,
	.contacts {
		display: block;
	}

	.contacts__inner {
		padding: 0 15px;
	}
}

@media (max-width: 1249px) {

	.main-slider {
		overflow: hidden;
		margin-left: 110px;
	}

	.about-theater-digits {
		max-width: 255px;
		margin: 0 20px 0 16px;
	}

}

@media (max-width: 1200px) {

	.main-slider,
	.about__img {
		display: none;
	}

	.inrto__inner {
		justify-content: center;
	}

	.container {
		max-width: 1000px;
	}
}


@media (max-width: 1100px) {
	.contacts__inner {
		flex-direction: column-reverse;
	}

	.contacts__info {
		padding-right: 0;
		padding-top: 80px;
		flex-direction: row;
		justify-content: space-between;
	}

	.contacts-adresses {
		text-align: right;
	}

	.container {
		max-width: 880px;
	}
}

@media (max-width: 1024px) {
	.container {
		max-width: 770px;
	}

	.header__top-line-inner {
		flex-direction: column;
		align-items: center;
		padding-top: 50px;
	}

	.menu__list-item {
		margin-right: 19px;
	}

	.partners__slider-items,
	.slick-initialized {
		overflow: hidden;
		cursor: pointer;
		padding-bottom: 20px;
	}

	.projects__slider {
		padding-left: 0;
	}

	.about {
		padding-top: 40px;
	}

	.about__inner {
		display: flex;
		padding-bottom: 30px;
	}

	.fixed-panel {
		display: none;
	}

	.projects {
		padding-bottom: 30px;
	}

	.partners {
		padding-top: 30px;
	}

	.partners__title {
		padding-bottom: 25px;
	}

	.contacts__title {
		padding: 40px 0;
	}

	.rating__container {
		padding: 0;
	}

	.contacts__inner {
		flex-direction: column-reverse;
	}

	.contacts__info {
		padding-right: 0;
		padding-top: 80px;
		flex-direction: row;
		justify-content: space-between;
	}

	.contacts__email {
		text-align: right;
	}

}

@media (max-width: 991px) {

	.header__top-line,
	.about,
	.partners,
	.contacts,
	.footer {
		display: flex;
		justify-content: center;
	}

	.header__top-line {
		padding-top: 20px;
	}

	.header {
		height: 800px;
		position: relative;
	}

	.header__phone {
		padding: 0;
		margin-right: 15px;

	}

	.inrto__inner {
		height: 665px;
		justify-content: center;
	}

	.container {
		margin: 0;
	}

	.header__top-line-inner {
		flex-direction: row;
		margin: 0;
	}

	.main-slider {
		display: none;
	}

	.menu-burger__header {
		position: relative;
		width: 40px;
		height: 35px;
		display: block;
		margin-left: 10px
	}

	.menu-burger__header span,
	.menu-burger__header:after,
	.menu-burger__header:before {
		height: 3px;
		width: 100%;
		position: absolute;
		background: white;
		margin: 0 auto
	}

	.menu-burger__header span {
		top: 16px
	}

	.menu-burger__header:after,
	.menu-burger__header:before {
		content: ''
	}

	.menu-burger__header:after {
		bottom: 6px
	}

	.menu-burger__header:before {
		top: 7px
	}

	.menu-burger__header.open-menu span {
		opacity: 0;
		transition: 0.5s
	}

	.menu-burger__header.open-menu:before {
		transform: rotate(38deg);
		top: 16px;
		transition: 0.4s
	}

	.menu-burger__header.open-menu:after {
		transform: rotate(-38deg);
		bottom: 16px;
		transition: 0.4s
	}

	.menu__list {
		flex-direction: column;
		padding-top: 50px
	}

	.menu__list-item {
		font-size: 24px;
		margin-bottom: 25px;
		margin-left: 45px;
	}

	.menu__list-link {
		font-size: 24px;
	}

	.menu {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background-color: #333333;
		box-shadow: #ccc;
		width: 335px;
		max-width: 100%;
		min-height: 100%;
		box-shadow: 0 5px 6px rgba(36, 36, 36, 0.37);
		left: -100%;
		transition: all 0.4s ease
	}

	.menu-burger__header-open {
		margin-top: 30px;
		margin-left: 250px;
		width: 28px;
		height: 35px
	}

	.menu.open-menu {
		left: 0;
		margin: 0
	}

	.social-nav {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding-top: 40px;
	}

	.social__link {
		flex-basis: 34%;
		margin-top: 20px;
		margin-left: 35px;
	}

	.intro__left {
		max-width: 545px;
	}

	.about-theater-digits {
		max-width: 300px;
		margin: 0 0 0 15px;
	}

	.menu__item-button:hover {
		background-color: #0f0f0f;
	}

	.rating__box-descripriont {
		font-size: 29px;
	}

	.rating__box {
		padding: 126px 100px;
		justify-content: center;
	}

	.rating__box-right-column {
		flex: 0 0 388px;
	}

	.rating__box-left-column {
		margin-right: 40px;
	}

	.column {
		margin-left: 30px;
	}

	.title {
		padding-bottom: 30px;
	}

	.cont-title {
		padding-bottom: 45px;
	}
}


@media (max-width: 770px) {

	.projects-slider {
		cursor: pointer;
		padding: 0 25px;
	}

	.partners__slider-items,
	.slick-initialized {
		overflow: hidden;
		cursor: pointer;
		padding-bottom: 20px;
	}

	.partners {
		padding-top: 10px;
	}

	.partners__item {
		padding: 6px;
	}

	.contacts__inner {
		padding-top: 30px;
	}

	.title {
		text-align: center;
		padding: 25px 0;
	}

	.about__text {
		text-align: center;
	}

	.about__title-colm {
		text-align: center;
		font-size: 15px;
	}

	.about__inner {
		flex-direction: column;
		align-items: center;
	}

	.about-theater-digits {
		margin-left: 0;
		max-width: 510px;
	}

	.about-theater-container {
		display: flex;
	}

	.colm-1 {
		margin-right: 60px;
	}

	.about-theater-title {
		text-align: center;
		font-size: 15px;
	}

	.about__inner {
		padding-bottom: 35px;
	}

	.rating__box-descripriont {
		font-size: 25px;
	}

	.rating__box {
		padding: 126px 33px;
	}

	.rating__box-right-column {
		flex: 0 0 330px;
	}

	.rating__box-descriprion {
		font-size: 31px;
	}

}

@media (max-width: 650px) {
	.container {
		margin: 0;
	}

	.form-contacts__form {
		display: block;
	}

	.form__inputs {
		width: 100%;
		padding-right: 0;
		padding-bottom: 30px;
	}

	.contacts__form-textarea {
		width: 100%;
		height: 100px;
	}

	.contacts__last-line {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		display: flex;
		width: 100%;
		padding-top: 40px;
	}

	.contacts__form-descriprion {
		text-align: center;
	}
}


@media (max-width: 709px) {

	/* .partners__slider-items {
		padding-left: 65px;

	} */

	.projects__slider {
		padding: 0 15px;
	}

	.partners__slider-items {
		padding: 0 6px;
	}

}


@media (max-width: 654px) {

	/* .partners__item,
	.slick-slide {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 355px;
	} */
}


@media (max-width: 576px) {

	.container {
		margin: 0;
	}

	.intro__title {
		width: 100%;
		font-size: 58px;
	}

	.about__inner {
		padding-bottom: 35px;
	}

	.about__title-colm {
		text-align: center;
	}

	.colm-1 {
		margin-right: 40px;
	}

	.title {
		font-size: 40px;
	}

	.projects__slider {
		padding: 0 15px;
	}

	.rating__box {
		flex-direction: column;
		text-align: center;
	}

	.rating__box-left-column {
		margin-bottom: 30px;
	}

	.rating__box-stars {
		justify-content: center;
	}

	.rating__box-right-column {
		flex: none;
	}

	.rating__container {
		padding: 0;
	}

	.rating__box {
		padding: 50px 0;
	}

	.rating__box-year:not(:last-child) {
		margin-bottom: 0;
	}

	/* .form-contacts__form {
		display: block;
	}

	.form__inputs {
		width: 100%;
		padding-right: 0;
		padding-bottom: 30px;
	}

	.contacts__form-textarea {
		width: 100%;
		height: 100px;
	}

	.contacts__last-line {
		flex-wrap: wrap-reverse;
		justify-content: center;
		width: 100%;
		padding-top: 40px;
	}

	.contacts__form-descriprion {
		text-align: center;
	} */

}

@media (max-width: 519px) {

	.projects__slider {
		padding: 0;
	}
}

@media (max-width: 430px) {


	.intro__left {
		max-width: 300px;
	}

	.contacts__form-descriprion {
		margin: 0;
		margin-top: 20px;
		text-align: center;
	}

	.contacts__info {
		display: block;
		text-align: center;
		padding-top: 40px;
	}

	.title {
		padding-bottom: 15px;
		font-size: 47px;
	}

	.footer__inner {
		flex-direction: column;
		gap: 15px;
	}

	.about__inner {
		flex-direction: column;
		align-items: center;
	}

	.about-theater-digits {
		margin-left: 0;
		max-width: 510px;
	}

	.about-theater-container {
		display: flex;
	}

	.about__text {
		text-align: center;
		font-size: 11px;
		margin: 0 auto;
	}

	.about__description {
		font-size: 10px;
	}

	.rating__box-left-column {
		margin: 0 auto;
	}

	.rating__box-descriprion {
		font-size: 20px;
	}

	.contacts__email {
		text-align: center;
	}

	.partners {
		padding: 0;
	}

}

@media (max-width: 375px) {

	.header__phone {
		display: none;
	}

	.intro__left {
		max-width: 300px;
	}

	.about__inner {
		padding-top: 20px;
		padding-bottom: 30px;
	}

	.title {
		font-size: 32px;
		padding: 0;
	}

	.projects__slider {
		padding-top: 20px;
	}

	.about__title-colm {
		text-align: center;
		font-size: 15px;
	}

	.about-theater-digits {
		margin-left: 0;
		max-width: 510px;
	}

	.about-theater-container {
		display: flex;
	}

	.about-theater-title {
		text-align: center;
		font-size: 15px;
	}

	.about__title-colm {
		text-align: center;
		font-size: 15px;
	}

	.about__description {
		font-size: 10px;
	}

	.contacts__form-descriprion {
		margin: 0;
		margin-top: 20px;
		text-align: center;
	}

	.contacts__info {
		display: block;
		text-align: center;
	}

	.partners {
		padding-top: 20px;
	}

	.intro__title {
		font-size: 37px;
		padding-bottom: 10px;
	}

	.about {
		margin-top: 15px;
	}

	.partners__inner {
		padding-bottom: 40px;
	}

	/* .form__inputs {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.form__input-item {
		width: 100%;
	} */
}

@media (max-width: 320px) {

	.about__inner {
		padding-top: 20px;
		padding-bottom: 30px;
	}

	.about__title-colm {
		text-align: center;
		font-size: 15px;
	}

	.intro__left {
		max-width: 250px;
	}

	.intro__title {
		font-size: 25px;
	}

	.contacts__inner {
		padding-top: 45px;
		padding-bottom: 20px;
	}

	.title {
		padding: 0;
		padding-bottom: 20px;
	}

	.about {
		margin-top: 0;
	}

}